GID_CLIENT_ID = your-ios-client-id.apps.googleusercontent.com
GID_SERVER_CLIENT_ID = your-server-client-id.apps.googleusercontent.com
GID_REVERSED_CLIENT_ID = com.googleusercontent.apps.your-ios-client-id
