<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Calendar</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GID_REVERSED_CLIENT_ID)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GIDClientID</key>
	<string>$(GID_CLIENT_ID)</string>
	<key>GIDServerClientID</key>
	<string>$(GID_SERVER_CLIENT_ID)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Calendar needs full calendar access to sync and edit iCloud events.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Calendar needs access to show and manage your events.</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>Calendar needs reminder access to show your reminders alongside calendar events.</string>
	<key>NSRemindersUsageDescription</key>
	<string>Calendar needs access to show your reminders alongside calendar events.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
